.accordion-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 30px;
    border-radius: 15px;
    /* border: 1px solid #bdbdbd; */
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: auto;
  }
  
  h1.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    color: #2f80ed;
    font-size: 24px;
    font-weight: 500;
  }
  
  .accordion-items {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: flex-start;
    gap: 15px;
  }
  
  .accordion-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    padding-left: 72px;
    background-color: white;
    cursor: pointer;
    transition: 0.25s background-color;
  }
  
  .accordion-item.active {
    background-color: #f2f8fe;
  }
  
  h1.accordion-tile {
    color: #000;
    font-size: 16px;
    font-weight: 500;
  }
  
  p.accordion-content {
    max-height: 0;
    overflow: hidden;
    color: #000;
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    transition: 0.5s max-height, 0.5s margin;
  }
  
  p.accordion-content.active {
    max-height: 2rem;
    margin: 1rem 0;
  }
  
  .icon-container {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    z-index: 3;
    border-radius: 39px;
    transform: translateX(-3rem) translateY(0.25rem);
    padding: 0rem;
    transition: background-color 0.5s, box-shadow 0.5s;
  }
  
  .icon-container.active {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .stroke-one,
  .stroke-two {
    content: "";
    position: relative;
    z-index: 1;
    transition: 0.5s all;
  }
  
  .stroke-one {
    width: 3px;
    height: 12px;
    background-color: #000;
    transform: translateX(calc(12px / 2 - 1.5px)) rotate(0deg);
  }
  
  .stroke-one.active {
    transform: translateX(calc(12px / 2 - 1.5px)) rotate(90deg);
  }
  
  .stroke-two {
    height: 3px;
    width: 12px;
    background-color: #000;
    transform: translateY(calc(-12px / 2 - 1.5px));
  }
  @media screen and (min-width: 1000px) {
      .accordion-item {
      width: 900px; 
    }
  }